@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * SVG Preview.
 */
.preview {
    height: 270px;
    width: 500px;
}

.preview svg {
    border: 3px solid #efefef;
}

@media (prefers-reduced-motion: no-preference){
    :root {
        scroll-behavior: smooth;
    }
}
