/* general styles */
.range-slider{
    -ms-touch-action: none;
    touch-action: none;
}

.range-slider-pointer:active,
.range-slider-pointer:focus{
    border-color: #aeaed7;
}

/* pointer themes */
.range-pointer{
    width: 8px;
    height: 8px;
    margin-top: 1px;
    -webkit-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    transform: translateX(-4px);
    -webkit-box-shadow: rgb(0 0 0 / 60%) 0 0 2px;
    box-shadow: rgb(0 0 0 / 60%) 0 0 2px;
    background: rgb(255, 255, 255);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(224, 224, 224, 0.5);
}

.range-pointer-theme-1{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    -webkit-transform: translateX(-7px);
    -ms-transform: translateX(-7px);
    transform: translateX(-7px);
    -webkit-box-shadow: rgb(0 0 0 / 60%) 0 0 2px;
    box-shadow: rgb(0 0 0 / 60%) 0 0 2px;
    background: rgb(255, 255, 255);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(224, 224, 224, 0.5);
    margin-top: -5px;
}